/* Reset some default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd; /* Light Green for background */
    color: #9E9E9E; /* Gray for secondary text */
}

header {
    background-color: #4CAF50; /* Primary Green for main header */
    color: #FFFFFF; /* White for text */
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: .5rem;
    color: #0a0a0a; /* Dark Green for labels */
}

input[type="file"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #9E9E9E; /* Gray for borders */
    background-color: #FFFFFF; /* White for input fields */
    color: #333;
}

input[type="submit"] {
    background-color: #388E3C; /* Dark Green for submit button */
    color: #FFFFFF; /* White for button text */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

footer {
    background-color: #4CAF50; /* Primary Green for footer */
    color: #FFFFFF; /* White for footer text */
    padding: 10px;
    text-align: center;
}

/* Additional styles for showing and hiding form sections */
#statementFields, 
#incomeFields, 
#cashSpendingFields {
    display: none; /* Initially hidden */
}

/* Add responsive design and other specific styling as needed */
