.login-button, .signup-button {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: black;
  }
  
  .login-button:hover {
    background-color: white;
    color: black;
  }
  
  .signup-button:hover {
    background-color: white;
    color: black;
  }